@using System.Reflection
<div class="top-row ps-3 navbar navbar-dark">
    
    <div class="container-fluid">

        <a class="navbar-brand"
           href="">
            GlitchEd25519 &nbsp; @(versionNumber is null ? string.Empty : $" v{versionNumber.Major}.{versionNumber.Minor}")
        </a>

        <button title="Navigation menu"
                class="navbar-toggler"
                @onclick="ToggleNavMenu">

            <span class="navbar-toggler-icon"></span>

        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable"
     @onclick="ToggleNavMenu">
    
    <nav class="flex-column">

        <div class="nav-item px-3">

            <NavLink class="nav-link"
                     href=""
                     Match="NavLinkMatch.All">

                <span class="bi bi-lock-fill-nav-menu"
                      aria-hidden="true">
                </span> 
                
                Encrypt / Decrypt
                
            </NavLink>
        </div>
        <div class="nav-item px-3">

            <NavLink class="nav-link"
                     href="keygen">

                <span class="bi bi-key-fill-nav-menu"
                      aria-hidden="true">
                </span> 
                
                Keygen
                
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private readonly Version? versionNumber = Assembly.GetExecutingAssembly()?.GetName()?.Version;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}